{% extends 'base/base.html'%}

{% block container %}

{% for message in messages %}
    {% if message.tags %}
            <div role="alert" class="alert alert-{{ message.tags }}"> {{ message }}</div>
    {% endif %}
{% endfor %}

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Acredor</th>
      <th scope="col">Saldo Obligacion</th>
      <th scope="col">Tiempo</th>
      <th scope="col">Valor Tiempo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Tasa Obligacion</th>
    </tr>
  </thead>
  <tbody>
    {% for obj in obligaciones %}
    <tr>
      <th scope="row">{{ forloop.counter }}</th>
      <td>{{obj.acredor_obligacion}}</td>
      <td>{{obj.saldo_obligacion}}</td>
      <td>{{obj.cuota_obligacion}}</td>
      <td>{{obj.tiempo}}</td>
      <td>{{obj.valor_tiempo}}</td>
      <td>{{obj.descripcion}}</td>
      <td>{{obj.tasa_obligacion}}</td>
      <td>

        <a href="{% url 'view_obligacion_update' obj.id %}" type="button" class="btn btn-outline-primary">Editar</a>
        <a href="{% url 'view_obligacion_eliminar' obj.id %}" type="button" class="btn btn-outline-danger">Eliminar</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="">
     <ul class="pagination pagination-sm">
        {% if page_obj.has_previous %}
          <li class="paginate_button page-item previous" id="datatable1_previous">
              <a href="?page={{ page_obj.previous_page_number }}" aria-controls="datatable1" data-dt-idx="0" tabindex="0" class="page-link">
                  <<
              </a>
          </li>
        {% else %}
          <li class="paginate_button page-item previous disabled">
              <a href="#" aria-controls="datatable1" data-dt-idx="0" tabindex="0" class="page-link">
                 <<
              </a>
          </li>
        {% endif %}
          {% for i in paginator.page_range %}
            {% if page_obj.number == i %}
              <li class="paginate_button page-item active">
                  <a href="?page={{ i }}" aria-controls="datatable1" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
              </li>
            {% else %}
                <li class="paginate_button page-item "><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="paginate_button page-item next" id="datatable1_next">
              <a href="?page={{ page_obj.next_page_number }}" aria-controls="datatable1" data-dt-idx="7" tabindex="0" class="page-link">
                  >>
              </a>
          </li>
           {% else %}
              <li class="paginate_button page-item next disabled">
                  <a href="#" aria-controls="datatable1" data-dt-idx="7" tabindex="0" class="page-link">
                  >>
              </a>
              </li>
           {% endif %}
      </ul>
</div>

{% endblock%}