{% extends 'base/base.html' %}

{% block title%} ACTIVO LISTAR {%endblock%}

{% block container%}

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Valor del Activo</th>
        <th scope="col">Moneda</th>
        <th scope="col">Tiempo</th>
        <th scope="col">Valor de Tiempo</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in activos %}
    <tr>
        <th scope="row">1</th>
        <td>{{obj.nombre_activo}}</td>
        <td>{{obj.valor_activo}}</td>
        <td>{{obj.moneda}}</td>
        <td>{{obj.tiempo}}</td>
        <td>{{obj.valor_tiempo}}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{%endblock%}